<!DOCTYPE html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    {{#if img}}
        <title>picpocket.view {{img.title}}</title>
        <meta property="og:title" content="{{img.title}}">
        <meta property="og:image" content="https://picpocket.herokuapp.com/img/{{img._id}}">
        <meta property="og:url" content="https://picpocket.herokuapp.com/view/{{img._id}}">
        {{#each img.tags}}
            <meta property="article:tag" content="{{this}}">
        {{/each}}

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@cryptoc1">
        <meta name="twitter:title" content="{{img.title}}">
        <meta property="twitter:description" content="View on picpocket">
        <meta name="twitter:image" content="https://picpocket.herokuapp.com/img/{{img._id}}">
        <meta name="twitter:image:src" content="https://picpocket.herokuapp.com/img/{{img._id}}">
        <meta name="twitter:url" content="https://picpocket.herokuapp.com/view/{{img._id}}">
    {{else}}
        <title>picpocket.{{endpoint}}</title>
    {{/if}}
    <script src="/lib.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>

<body>
    <header>
        <span class="title">
            <a href="/"><span class="prefix">pic</span>pocket</a>
        </span>
        <nav>
            <a href="/" class="fa fa-home" title="Home"></a>
            <a href="/upload" class="fa fa-cloud-upload" title="Upload"></a>
            <a href="/search" class="fa fa-search" title="search"></a>
        </nav>
    </header>
    <div class="content">
        {{{ body }}}
    </div>
    <footer></footer>
</body>

</html>
