<!DOCTYPE html>
<html>

<head>
    <title>Flan.{{endpoint}}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
    <link href="/style.css" rel="stylesheet">
    {{#if img}}
        <title>{{img.title}}</title>
        <meta property="og:title" content="{{img.title}}">
        <meta property="og:image" content="https://flan.herokuapp.com/img/{{img._id}}">
        <meta property="og:url" content="https://flan.herokuapp.com/view/{{img._id}}">
        {{#each img.tags}}
            <meta property="article:tag" content="{{this}}">
        {{/each}}

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@cryptoc1">
        <meta name="twitter:title" content="{{img.title}}">
        <meta name="twitter:image" content="https://flan.herokuapp.com/img/{{img._id}}">
        <meta name="twitter:image:src" content="https://flan.herokuapp.com/img/{{img._id}}">
        <meta name="twitter:url" content="https://flan.herokuapp.com/view/{{img._id}}">
    {{/if}}
    <script src="/lib.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>

<body>
    <header>
        <div class="title"><a href="/"><span class="f">f</span>lan</a>.<span class="dropdown">
            <span>{{ endpoint }}</span>
            <div class="dropdown-content">
                <a href="/">.home</a>
                <a href="/upload">.upload</a>
                <a href="/search">.search</a>
            </div>
            </span>
        </div>
    </header>
    <div class="content">
        {{{ body }}}
    </div>
    <footer></footer>
</body>

</html>
